@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Figtree';
    src: url('/fonts/Figtree-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900; /* Adjust the range based on the font file's weight support */
    font-style: italic;
  }
@font-face {
    font-family: 'Figtree';
    src: url('/fonts/Figtree-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Figtree';
    src: url('/fonts/Figtree-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }